extends layout
block headerpage
  section#banner-page
    .container_1366
      .container
        .banner-detail
          .banner-text
            h1 service
            p
              | Nullam dictum felis eu pede mollis pretium.
              | Integer tincidunt. Cras dapibus. Vivamus
              | elementum semper nisi. Aenean vulputate
              | eleifend tellus. Aenean leo ligula, porttitor eu,
          figure.banner-image
            img(src='images/custom-made-solution.png' alt='')
block main
  section#service-page
    .container
      