extends layout
block headerpage
  section#banner-page
    .container_1366
      .container
        .banner-detail
          .banner-text
            h1 service
            p
              | Nullam dictum felis eu pede mollis pretium.
              | Integer tincidunt. Cras dapibus. Vivamus
              | elementum semper nisi. Aenean vulputate
              | eleifend tellus. Aenean leo ligula, porttitor eu,
          figure.banner-image
            img(src='images/custom-made-solution.png' alt='')
block main
  section#service-page
    .container
      .service-content
        article.service-detail
          .left-side
            a.image-service(href=''): i.iconsp-service-residental
          .right-side
            h3.title-service-content.text-orange
              a(href='') residental
            .desc-service-content
              p Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus.
        article.service-detail
          .left-side
            a.image-service(href=''): i.iconsp-service-commercial
          .right-side
            h3.title-service-content.text-orange
              a(href='') commercial
            .desc-service-content
              p Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus.
        article.service-detail
          .left-side
            a.image-service(href=''): i.iconsp-service-industrial
          .right-side
            h3.title-service-content.text-orange
              a(href='') industrial
            .desc-service-content
              p Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus.
        article.service-detail
          .left-side
            a.image-service(href=''): i.iconsp-service-strata
          .right-side
            h3.title-service-content.text-orange
              a(href='') strata
            .desc-service-content
              p Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus.

