extends layout
block headerpage
  section#banner-page.testimonials-banner
    .container_1366
      .container
        .banner-detail
          .banner-text
            h1 testimonial
            p
              | Nullam dictum felis eu pede mollis pretium.
              | Integer tincidunt. Cras dapibus. Vivamus
              | elementum semper nisi. Aenean vulputate
              | eleifend tellus. Aenean leo ligula, porttitor eu,
          figure.banner-image
            img(src='images/testimonial.png' alt='')
block main
  section#testimonials
    .container
      article.testimonials-content
        figure.testimonials-logo
          a(href='#'): img(src='images/tes_1.png' width='120')
        .testimonials-detail
          h1.title.text-orange INTERCONTINENTAL - SYDNEY
          .content
            p Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend.
          ul.info
            li Manager Director
            li Jason Stimwell
      article.testimonials-content
        figure.testimonials-logo
          a(href='#'): img(src='images/tes_2.png' width='120')
        .testimonials-detail
          h1.title.text-orange CHEMIST WAREHOUSE - CANBERRA
          .content
            p Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend.
          ul.info
            li Manager Director
            li Jason Stimwell